
      /*a:hover .other-post-hover-overlay {
	opacity: 0.7;
  }*/

  a:hover .featured-heading {
    border-bottom: 10px solid #fd27b0;
  }

  .heading-7-copy {
    position: sticky !important;
    top: 10px;
  }
  .bg-photo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
  }

  .dark_section .bg-photo {
    background-size: auto 110vw;
    background-position: -10vw -250px, 100px 0px;
  }

  .dark_section.light {
    background: white;
    color: var(--text);
  }

  .dark_section.alternate {
    background:var(--secondary);
  }

  .dark_section.black {
    background: #000000;
  }

  @media (min-width: 1600px) {
    .dark_section .bg-photo {
      background-size: cover;
      background-position: center;
    }
  }

  @media (max-width: 700px) {
    .dark_section .bg-photo {
      background-size: cover;
      background-position: center;
    }
  }

  .blog-text-block iframe {
    width: 100%;
    height: 450px;
    margin: 20px 0px;
  }

  @media (max-width: 767px) {
    .blog-text-block iframe {
      height: 300px;
      width: 100vw;
      margin: 20px -20px;
    }
  }
  @media (max-width: 479px) {
    .blog-text-block iframe {
      height: 200px;
    }
  }
