{{ define "main" }}

<div class="page-section blog">
    <div class="container-div">
        <div class="standard-row w-row">
            <div class="column-left w-col w-col-8">
                <h2 class="heading-7-copy2">Most Recent</h2>
                <div class="w-dyn-list">
                    <div class="w-dyn-items">
                        {{ range first 1 .Data.Pages }}
                        <div class="collection-item w-dyn-item">
                            <a style="background-image:url({{ $.Site.Params.Cloudinary_url }}w_750,q_70,f_auto{{ .Params.featured_image }})"
                                href="{{ .RelPermalink }}" class="link-block-9 w-inline-block">
                                <div class="div-block-40">
                                    <h2 class="featured-heading">{{ .Title }}</h2>
                                    <div class="div-block-41 w-clearfix">
                                        {{ $auth := replace .Params.Author "/" "\\" }}
                                        <div class="text-block-24-copy">by {{ with $.Site.GetPage $auth }}{{ .Title }}{{ end }}</div>
                                        {{ with .Params.category }}<div style="background-color:#356597" class="text-block-25-copy">{{ . }}</div>{{ end }}
                                    </div>
                                    <p class="paragraph-6">This past week I went on a road-trip to Las Vegas with my friend Robyn and her three
                                        kids. It was full of fun, adventure, and wine! I got...</p>
                                </div>
                            </a>
                        </div>
                        {{ end }}
                    </div>
                </div>
                {{ $resultLength := len .Data.Pages }}
                {{ if gt $resultLength 1 }}
                <h2 class="heading-7">Other Posts</h2>
                <div class="w-dyn-list">
                    <div class="grid-wrapper w-dyn-items">
                        {{ range after 1 .Data.Pages }}
                        <div class="grid-item w-dyn-item">
                            <article>
                                <a href="{{ .RelPermalink }}" class="link-block-8 w-inline-block">
                                    <figure style="background-image:url({{ $.Site.Params.cloudinary_url }}w_400,h_200,c_fill,q_70,f_auto{{ .Params.featured_image }})"
                                        class="blog-grid-photo"></figure>
                                    <section class="div-block-37">
                                        <div class="w-clearfix">
                                            {{ with .Params.categories }}
                                            <div style="background-color:#356597" class="category-label">{{ . }}</div>
                                            {{ end }}
                                            <h3 class="blog-grid-title">{{ .Title }}</h3>
                                            <div class="div-block-39-copy">
                                                <div class="blog-grid-meta">{{ .Date.Format "January 02, 2006" }}</div>
                                                <div class="blog-grid-meta"> | </div>
                                                {{ $auth := replace .Params.Author "authors/" "" }}
                                                <div class="blog-grid-meta">{{- range where $.Site.RegularPages "Section" "=" "authors" -}}{{- if eq .File.LogicalName $auth -}}{{- .Title -}}{{- end -}}{{- end -}}</div>
                                            </div>
                                            <p class="blop-grid-summary">{{ .Description }}</p>
                                        </div>
                                    </section>
                                </a>
                            </article>
                        </div>
                        {{ end }}
                    </div>
                </div>
            {{ end }}
            </div>
            {{ partial "blog-sidebar.html" . }}

        </div>
    </div>
</div>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "ItemList",
    "itemListElement": [
    {{- range first 1 .Data.Pages -}}
        {
        "@type": "ListItem",
        "position": 1,
        "url": "{{ .Permalink }}"
        }{{- end -}}{{- if gt $resultLength 1 -}}{{- range $i, $e := first 4 (after 1 .Data.Pages) -}},
        {
            "@type": "ListItem",
            "position": {{ add $i 2 }},
            "url": "{{ .Permalink }}"
            }
        {{- end -}}
    {{- end -}}
  ]
}
</script>

{{ end }}