{{ define "main" }}
<div style="background-image:url({{ $.Site.Params.cloudinary_url }}w_1600,q_50,f_auto{{ .Params.featured_image }})"
    class="blog-hero-banner">
    <div class="div-block-31"></div>
    <div class="container-div blog-header">
        <div class="blog-breadcrumbs">
            <div class="breadcrumb-text">
                <a href="/{{ .Section | urlize }}" class="link-3">{{ title .Section }} </a>
                {{ with .Params.categories }}&nbsp;/&nbsp;
                <a href="/categories/{{ . | urlize }}" class="breadcrump-link w-inline-block">
                    <div class="breadcrumb-text">{{ title . }}</div>
                </a>
            {{ end }}
            </div>
        </div>
        <h1 class="blog-title">{{ .Title }}</h1>
        <p class="blog-subheading">{{ .Description }}</p>
    </div>
</div>
<div class="page-section">
    <div class="div-block-34">
        <div class="div-block-33">
            {{ if .Params.Author }}
            {{ $auth := replace .Params.Author "authors/" "" }}
            {{ range where .Site.RegularPages "Section" "=" "authors" }}
            {{ if eq .File.LogicalName $auth }}
            <img class="author-photo" src="{{ $.Site.Params.cloudinary_url }}w_100,h_100,c_fill,g_face,q_90,f_auto{{ .Params.photo }}" alt="photo of {{ .Title }}">
            <p class="author-name">{{ .Title }}</p>
            {{ end }}
            {{ end }}
            {{ end }}
            <div class="blog-date">{{ .Date.Format "January 02, 2006" }}</div>
        </div>
    </div>
    <div class="container-div blog-content">
        <div class="blog-text-block w-richtext">
            {{ .Content }}
        </div>
        <div class="tag-heading">
            <strong>Keywords:</strong>
        </div>
        <div class="tag-list w-dyn-items">     
            {{ range .Params.tags }}
            <div class="tag-item w-dyn-item">
                <a href="/tags/{{ . | urlize }}" class="tag-link w-inline-block">
                    <div>{{ . }}</div>
                </a>
            </div>
            {{ end }}
        </div>
        {{ partial "share-links.html" . }}
        {{ partial "mailchimp-form.html" . }}
    </div>
</div>

{{- if eq .Section "blog" -}}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://google.com/article"
        },
        "headline": "{{ .Title }}",
        "datePublished": "{{ .Date }}",
        "dateModified": "{{ .Lastmod }}",
        {{ if .Params.author -}}
        {{- $author := replace .Params.author "/" "\\" -}}
        "author": {
            "@type": "Person",
            "name": "
                {{- range where $.Site.RegularPages "Section" "=" "authors" -}}
                    {{- if eq .File.Path $author -}}{{- .Title -}}{{- end -}}
                {{- end -}}"
        },
        {{- end }}
        "publisher": {
            "@type": "Organization",
            "name": "{{ $.Site.Data.settings.contact_info.company_name }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ $.Site.Params.cloudinary_url }}w_800,q_80,f_auto{{ $.Site.Data.settings.logos.main_logo }}"
            }
        },
        "image": [
            "{{ $.Site.Params.cloudinary_url }}w_850,h_850,q_60,f_auto,c_fill{{ .Params.featured_image }}",
            "{{ $.Site.Params.cloudinary_url }}w_1000,h_750,q_60,f_auto,c_fill{{ .Params.featured_image }}",
            "{{ $.Site.Params.cloudinary_url }}w_1200,h_675,q_60,f_auto,c_fill{{ .Params.featured_image }}"
        ]
    }
    </script>
{{ end }}

{{ end }}