<aside class="column-right w-col w-col-4">
    <h2 class="sidebar-heading">Join Our Newsletter</h2>
    <div class="form-block-2 w-form">
        <form id="email-form" name="email-form" data-name="Email Form" action="https://abundantlysocial.us17.list-manage.com/subscribe/post?u=49acdb3ace0813d38bf458f1b&amp;amp;id=5ab8c66c86"
            method="post" class="mform-2">
            <input type="email" class="text-field w-input" maxlength="256" name="EMAIL" data-name="EMAIL" placeholder="Enter your email"
                id="EMAIL-6" required="" />
            <input type="submit" value="Submit" data-wait="Please wait..." class="button small w-button" />
        </form>
        <div class="success-message-copy w-form-done">
            <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="error-message-3 w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
        </div>
    </div>
    <h2 class="sidebar-heading">Sort by Category</h2>
    <div class="w-dyn-list">
        <div class="collection-list w-dyn-items">
            <div class="category-item w-dyn-item">
                <a href="/category/articles" class="category-link w-inline-block">
                    <div>Articles</div>
                </a>
            </div>
            <div class="category-item w-dyn-item">
                <a href="/category/personal-life" class="category-link w-inline-block">
                    <div>Personal Life</div>
                </a>
            </div>
        </div>
    </div>
</aside>