<footer class="footer">
    <div class="container-div footer">
        <div class="row-4 w-row">
            <div class="column w-col w-col-5">
                <img src="{{ $.Site.Params.cloudinary_url }}w_400,q_70,f_auto{{ $.Site.Data.settings.logos.logo_white }}" width="340" class="footer-logo" />
                <div class="founded-in">founded in Houston, TX</div>
            </div>
            <div class="column center w-col w-col-7">
                <h2 class="follow-heading">Follow {{ $.Site.Data.settings.contact_info.company_name}}</h2>
                <div class="div-block-16">
                    {{ range $.Site.Data.settings.contact_info.social_media }}
                    <a href="{{ .url }}" target="_blank" class="social-footer-link w-inline-block">
                        <i class="fab fa-{{ .platform }}"></i>
                    </a>
                    {{ end }}
                </div>
                <div class="footer-phone"><a href="tel:{{ $.Site.Data.settings.contact_info.phone }}">Phone: {{ $.Site.Data.settings.contact_info.phone }}</a></div>
                <div class="div-block-46">
                    <h2 class="heading-12">Join Our Newsletter</h2>
                    <div>
                        <form id="wf-form-mailing-list" name="wf-form-mailing-list" data-name="mailing list">
                            <div class="div-block-48 w-clearfix">
                                <div class="div-block-47">
                                    <input type="text" class="text-field-5 w-input" maxlength="256" name="first-name" data-name="first name" placeholder="enter your first name"
                                        id="first-name-2" />
                                </div>
                                <div class="div-block-47">
                                    <input type="text" class="text-field-5 w-input" maxlength="256" name="last-name" data-name="last name" placeholder="enter your last name"
                                        id="last-name-2" />
                                </div>
                            </div>
                            <input type="email" class="text-field-5-copy w-input" maxlength="256" name="email" data-name="email" placeholder="enter your email (required)"
                                id="email-4" required="" />
                            <input type="submit" value="Sign Up" data-wait="Please wait..." class="mform-submit w-button" />
                        </form>
                        <div class="w-form-done">
                            <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="w-form-fail">
                            <div>Oops! Something went wrong while submitting the form.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="copyright-text">Copyright {{ now.Format "2006" }} Abundantly Social |
            <a href="https://modiimedia.com" target="_blank" class="link-2"> website by
                <strong xmlns="http://www.w3.org/1999/xhtml">Modii</strong>
            </a>
        </div>
    </div>
</footer>