<div data-ix="social-media-sidebar-entrance" class="social-sidebar">
    <a data-ix="facebook-hover" href="http://facebook.com/abundantlysocial" target="_blank" class="facebook-link w-inline-block">
        <img src="https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/597567d80f93db3c99395634_facebook%20icon.svg" height="30"
            alt="facebook" class="social-media-image" />
    </a>
    <a href="https://twitter.com/abundantlysocia" data-ix="twiitter-over" target="_blank" class="twitter-link w-inline-block">
        <img src="https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/59756d0eef98342424627baa_if_03-twitter_104501.svg"
            height="25" alt="twitter" class="social-media-image" />
    </a>
    <a href="https://www.instagram.com/Yackalacker/" data-ix="instagram-hover" target="_blank" class="instagram-link w-inline-block">
        <img src="https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/59756c2cef98342424627b93_if_38-instagram_1161953.svg"
            height="30" alt="instagram" class="social-media-image" />
    </a>
    <a href="https://www.linkedin.com/in/aimee-ravichandran-353848124" data-ix="linkedin-hover" target="_blank" class="linkedin-link w-inline-block">
        <img src="https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/59756d0e6c61e53cfc12f2cd_if_11-linkedin_104493.svg"
            height="30" alt="linkedin" class="social-media-image" />
    </a>
</div>
<div class="social-sidebar-pullout">
    <div class="facebook-pullout">
        <div>Facebook</div>
    </div>
    <div class="twitter-pullout">
        <div>Twitter</div>
    </div>
    <div class="instagram-pullout">
        <div>Instagram</div>
    </div>
    <div class="linkedin-pullout">
        <div>LinkedIn</div>
    </div>
</div>
<div data-collapse="medium" data-animation="over-left" data-duration="400" class="sticky-navbar w-nav">
    <div class="popup-blackout">
        <div class="newsletter_popup">
            <div data-ix="newsletter-close-button" class="close-button">
                <div class="text-block-11">X</div>
            </div>
            <div class="form-block">
                <form id="wf-form-Newsletter-Signup" name="wf-form-Newsletter-Signup" method="post" action="https://abundantlysocial.us17.list-manage.com/subscribe/post?u=49acdb3ace0813d38bf458f1b&amp;amp;id=5ab8c66c86"
                    class="form">
                    <h5 class="heading-10">Sign Up for Our Newsletter</h5>
                    <div class="div-block-44">
                        <input type="text" class="text-field-4 w-input" maxlength="256" name="FNAME" data-name="FNAME" placeholder="First Name"
                            id="FNAME" />
                        <input type="text" class="text-field-3 w-input" maxlength="256" name="LNAME" data-name="LNAME" placeholder="Last Name"
                            id="LNAME" />
                    </div>
                    <input type="email" class="text-field-5 w-input" maxlength="256" name="EMAIL" data-name="EMAIL" placeholder="Your Email Address*"
                        id="EMAIL-5" required="" />
                    <input type="submit" value="Submit" data-wait="Please wait..." class="mform-submit w-button" />
                </form>
                <div class="success-message-2 w-form-done">
                    <div class="text-block-28">Thank you for signing up
                        <br/>to our Newsletter!</div>
                </div>
                <div class="error-message-2 w-form-fail">
                    <div>Oops! Something went wrong while submitting the form</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-div">
        <a href="/" class="brand w-nav-brand">
            <img src="https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/596e8b079c3b1535b0b30689_logo_pink-01.png" width="227"
                alt="Abundantly Social" srcset="https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/596e8b079c3b1535b0b30689_logo_pink-01-p-500.png 500w, https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/596e8b079c3b1535b0b30689_logo_pink-01-p-800.png 800w, https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/596e8b079c3b1535b0b30689_logo_pink-01-p-1080.png 1080w, https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/596e8b079c3b1535b0b30689_logo_pink-01.png 1715w"
                sizes="(max-width: 479px) 200px, 227px" class="logo-image" />
        </a>
        <nav role="navigation" class="nav-menu w-nav-menu">
            <a href="/" class="nav_link w-nav-link w--current">Home</a>
            <a href="/about/" class="nav_link w-nav-link">About</a>
            <a href="/services/" class="nav_link w-nav-link">Services</a>
            <div data-delay="0" class="w-dropdown">
                <div class="nav_link w-dropdown-toggle">
                    <div class="w-icon-dropdown-toggle"></div>
                    <div>Tips &amp; Advice</div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                    <a href="/blog/" class="nav_link w-dropdown-link">Articles</a>
                    <a href="/videos/" class="nav_link w-dropdown-link">Videos</a>
                </nav>
            </div>
            <a href="/contact/" class="nav_link w-nav-link">Contact</a>
            <div data-ix="newsletter-popup" class="updates">
                <img src="https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/59758fbbe6ed92540361f420_if_icon-email_211660.svg"
                    width="28" class="envelope-image" />
                <div class="updates-text">Get Updates</div>
            </div>
        </nav>
        <div class="menu-button w-nav-button">
            <div class="icon-3 w-icon-nav-menu"></div>
        </div>
    </div>
</div>