<div data-collapse="medium" data-animation="over-left" data-duration="400" class="sticky-navbar w-nav">
    {{ partial "mailchimp-nav-form.html" . }}
    <div class="container-div">
        <a href="/" class="brand w-nav-brand">
            <img src="{{ $.Site.Params.cloudinary_url }},w_300,q_80,f_auto{{ $.Site.Data.settings.logos.main_logo }}" width="227"
                alt="Abundantly Social" sizes="(max-width: 479px) 200px, 227px" class="logo-image" />
        </a>
        {{ partial "main-navigation.html" . }}
    </div>
</div>