<nav role="navigation" class="nav-menu w-nav-menu">
    {{ range $.Site.Data.menus.main_menu }}
    {{ if ne .make_button true }}
        {{ if .children }}
            <div data-delay="0" class="w-dropdown">
                <div class="nav_link w-dropdown-toggle">
                    <div class="w-icon-dropdown-toggle"></div>
                    <div>{{ .name }}</div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                    {{ range .children }}
                    {{ $url := replace .internal_link "_index.md" "" }}
                    {{ $urlB := replace $url "pages/" "" }}
                    {{ $urlComplete := replace $urlB ".md" "/" }}
                    <a {{ if .external_link }}href="{{ .external_link }}"{{ else }}href="/{{ $urlComplete }}"{{ end }} class="nav_link w-dropdown-link">{{ .name }}</a>
                    {{ end }}
                </nav>
            </div>
        {{ else }}
            {{ $url := replace .internal_link "_index.md" "" }}
            {{ $urlB := replace $url "pages/" "" }}
            {{ $urlComplete := replace $urlB ".md" "/" }}
            <a {{ if .external_link -}}href="{{ .external_link }}"{{- else -}}href="/{{ $urlComplete }}"{{- end }} class="nav_link w-nav-link">{{ .name }}</a>
        {{ end }}
    {{ end }}
    {{ end }}
    {{ range $i, $e := $.Site.Data.menus.main_menu }}
        {{ if eq .make_button true }}
            {{ $url := replace .internal_link "_index.md" "" }}
            {{ $urlB := replace $url "pages/" "" }}
            {{ $urlComplete := replace $urlB ".md" "/" }}
            <a id="buttonLink{{ $i }}" {{ if .external_link -}}href="{{ .external_link }}"{{- else -}}href="/{{ $urlComplete }}"{{- end }} class="nav_link w-nav-link nav_button">
                <span>
                    <i class="fas fa-calendar-alt"></i> {{ .name }}
                </span>
                <div class="button_hover"></div>
            </a>
            {{ if .button_color }}
                {{ $color := .button_color }}
                <style>
                    #buttonLink{{ $i }}.nav_link.nav_button {
                        color: {{ $color }};
                        border-color: {{ $color }};
                    }
                    #buttonLink{{ $i }}.nav_link.nav_button.w--current {
                        color: white;
                    }
                    #buttonLink{{ $i }}.nav_link.nav_link.nav_button .button_hover {
                        background: {{ $color }};
                    }
                </style>
            {{ end }}
        {{ end }}
    {{ end }}
    <div data-ix="newsletter-popup" class="nav_link w-nav-link nav_button" style="font-weight: bold">
        <span class="updates-text"><i class="fas fa-envelope"></i>Get Updates</span>
        <div class="button_hover"></div>
    </div>
</nav>

<div class="menu-button w-nav-button">
    <div class="icon-3 w-icon-nav-menu"></div>
</div>