<title>{{ if .mTitle }}{{ .mTitle }}{{ else }}{{ .Title }}{{ end }} | {{ .company }}</title>
<meta content="{{ if .mDescription }}{{ .mDescription }}{{ else }}{{ .Description }}{{ end }}" name="description" />
<!-- Open Graph Tags -->
<meta content="{{ if .mTitle }}{{ .mTitle }}{{ else }}{{ .Title }}{{ end }}" property="og:title" />
<meta content="{{ if .mDescription }}{{ .mDescription }}{{ else }}{{ .Description }}{{ end }}" property="og:description" />
<meta property="og:image" content="{{ if .socialImage }}{{ .cloudinary }}w_1200,h_630,q_80,f_jpg,c_fill{{ .socialImage }}{{ else }}{{ if .featImage }}{{ .cloudinary }}w_1200,h_680,q_80,f_jpg,c_fill{{ .featImage }}{{ end }}{{ end }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:type" content="{{ .type }}">
<meta property="fb:app_id" content="729584327387657">
<!-- twitter tags -->
<meta content="summary" name="twitter:card" />