<div class="share-this-heading">Share This</div>
<div class="html-embed-3 w-embed">
    <a class="link-block-4" target="_blank" style="background:#3B5998; margin: 0px 5px" href="http://www.facebook.com/sharer/sharer.php?u={{ .URL }}">
        <i class="fab fa-facebook"></i>
        <span>
            <b>&nbsp;Facebook</b>
        </span>
    </a>
    <a class="link-block-4" target="_blank" style="background: #1DA1F2; margin: 0px 5px" href="http://twitter.com/share?text={{ .Title }}&url={{ .URL }}">
        <i class="fab fa-twitter"></i>
        <span>
            <b>&nbsp;Twitter</b>
        </span>
        <a class="link-block-4" style="background: #555; margin: 0px 5px" href="mailto:?subject=Check Out This Article&body=Check out this article from Abundantly Social {{ .URL }}">
            <i class="fas fa-envelope"></i>
            <span>
                <b>&nbsp;Email</b>
            </span>
        </a>
</div>