{{ define "main" }}
<div class="hero_section">
    <div data-ix="particle-cycle" class="particle4"></div>
    <div data-ix="particle-cycle-2" class="particle6"></div>
    <div data-ix="particle-cycle-2" class="particle5"></div>
    <div data-ix="particle-cycle" class="particle3"></div>
    <div data-ix="particle-cycle-4" class="particle2"></div>
    <div data-ix="particle-cycle-3" class="particle1"></div>
    <div class="row-3 w-row">
        <div class="column-10 w-col w-col-5">
            <img src="/uploads/595fbfae5b9a9013ee8e97a3/596a632a81afc15158042989_59674f654afeb23d73aa73cd_tablet-02.png"
                data-ix="tablet-hover" width="127" alt="tablet" class="tablet" />
            <img src="https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/596a623a985b65490eb6afdb_59674f657de95e548cb69857_phone-02.png"
                data-ix="phone-hover" width="88" alt="mobile phone" class="phone" />
            <img src="https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/59674d8f4afeb23d73aa737e_computer.png" data-ix="computer-hover"
                width="372" alt="computer" class="computer" />
        </div>
        <div data-ix="photo-entrance-2" class="column-9 w-col w-col-7">
            <h1 class="hero_heading">Expand Your Social Reach</h1>
            <p class="paragraph">We provide social media marketing services for small business at an affordable rate! Whether you need someone
                to manage your social accounts or need help making a plan of action, we provide the services needed to get
                your business noticed!</p>
            <a href="/contact" class="button w-button">Contact Us Today</a>
        </div>
    </div>
</div>
<div class="dark_section">
    <div data-ix="new-interaction-4" class="container-3 w-container">
        <h2 class="about_heading">Social Marketing With
            <br/>A Personal Touch</h2>
        <p class="paragraph">Abundantly Social has a unique ability to present your company&#x27;s message to the public as if they are long lost
            friends. This natural ability to communicate on a personal level is what makes Abundantly Social so masterful
            at organizing thoughts and highlighting key points of your business. These skills capture potential client&#x27;s
            attention from the moment they click on your website enticing them to want to take a closer look at what your
            company can offer.</p>
        <a href="/about" class="button w-button">Learn More About Us</a>
    </div>
</div>
<div class="section">
    <div data-animation="slide" data-nav-spacing="5" data-duration="500" data-infinite="1" class="testimonial_slider w-slider">
        <h2 data-ix="new-interaction-3" class="heading2 testimonial_heading">Testimonials</h2>
        <div data-ix="new-interaction-3" class="mask w-slider-mask">
            <div class="testimonial_slide slide2 w-slide">
                <div class="testimonial_text">&quot;Aimee Ravichandran is the consummate professional, who delivers superior products and services, in
                    a timely and efficient manner. In addition, she is an extraordinarily talented and creative woman, who
                    keeps her word and delivers what she promises. As a book author, I depend on Aimee to manage my social
                    media and my website, which she designed and built. As a result, there has been consistently high traffic
                    on my website and on my author&#x27;s Facebook page. In addition to that, what I appreciate most about
                    Aimee is her accessibility and the immediacy of her replies to queries and comments.&quot;</div>
                <div class="testimonial_name">Anthony J. Harris</div>
                <div class="testimonial_title">Author</div>
            </div>
            <div class="testimonial_slide slide1 w-slide">
                <div class="testimonial_text">&quot;We love working with Abundantly Social! Aimee does a wonderful job of conveying the look and feel of
                    our brand through posts that really engage our followers. She is great at guiding us and then executing
                    what is necessary to create a social media presence that supports our business and helps it grow. We
                    at Poet + Joy Accessories highly recommend Abundantly Social.&quot;</div>
                <div class="testimonial_name">Poet + Joy Accessories</div>
                <div class="testimonial_title">Accessory and Handbag Company</div>
            </div>
            <div class="testimonial_slide w-slide">
                <div class="testimonial_text">&quot;Aimee went above and beyond all my expectations. She took the time to get to know me and who I am first
                    before she started learning about my business. She gave me several questions to answer and then based
                    on my feedback she created 2 beautiful websites in less than one week&#x27;s time. Aimee has a talent
                    for bringing other people&#x27;s ideas and creations to life on social media while also weaving in their
                    true personality. She really cares about her clients and it shows in her work. She&#x27;s creative, hardworking,
                    trustworthy and she gets projects done quickly. I really can&#x27;t say enough great things about her
                    and would recommend her to everyone.&quot;</div>
                <div class="testimonial_name">Jen Louziotis</div>
                <div class="testimonial_title">Spiritual Happy Hour Radio Show</div>
            </div>
        </div>
        <div data-ix="new-interaction-3" class="left-arrow w-slider-arrow-left">
            <div class="icon-2 w-icon-slider-left"></div>
        </div>
        <div data-ix="new-interaction-3" class="right-arrow w-slider-arrow-right">
            <div class="icon w-icon-slider-right"></div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container-div footer">
        <div class="row-4 w-row">
            <div class="column w-col w-col-5">
                <img src="https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/596e8b079c3b1535b0b30689_logo_pink-01.png"
                    width="340" srcset="https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/596e8b079c3b1535b0b30689_logo_pink-01-p-500.png 500w, https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/596e8b079c3b1535b0b30689_logo_pink-01-p-800.png 800w, https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/596e8b079c3b1535b0b30689_logo_pink-01-p-1080.png 1080w, https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/596e8b079c3b1535b0b30689_logo_pink-01.png 1715w"
                    sizes="(max-width: 479px) 83vw, (max-width: 767px) 340px, (max-width: 991px) 35vw, 340px" class="footer-logo"
                />
                <div class="founded-in">founded in Houston, TX</div>
            </div>
            <div class="column center w-col w-col-7">
                <h2 class="follow-heading">Follow Abundantly Social</h2>
                <div class="div-block-16">
                    <a href="http://facebook.com/abundantlysocial" target="_blank" class="social-footer-link w-inline-block">
                        <img src="https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/597567d80f93db3c99395634_facebook%20icon.svg"
                            height="30" alt="facebook" />
                    </a>
                    <a href="https://twitter.com/abundantlysocia" target="_blank" class="social-footer-link w-inline-block">
                        <img src="https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/59756d0eef98342424627baa_if_03-twitter_104501.svg"
                            height="30" alt="twitter" />
                    </a>
                    <a href="https://www.instagram.com/Yackalacker/" target="_blank" class="social-footer-link w-inline-block">
                        <img src="https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/59756c2cef98342424627b93_if_38-instagram_1161953.svg"
                            height="30" alt="instagram" />
                    </a>
                    <a href="https://www.linkedin.com/in/aimee-ravichandran-353848124" class="social-footer-link w-inline-block">
                        <img src="https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/59756d0e6c61e53cfc12f2cd_if_11-linkedin_104493.svg"
                            height="30" alt="linkedin" />
                    </a>
                </div>
                <div class="footer-phone">Phone: (210) 452-3622</div>
                <div class="div-block-46">
                    <h2 class="heading-12">Join Our Newsletter</h2>
                    <div class="w-form">
                        <form id="wf-form-mailing-list" name="wf-form-mailing-list" data-name="mailing list">
                            <div class="div-block-48 w-clearfix">
                                <div class="div-block-47">
                                    <input type="text" class="text-field-5 w-input" maxlength="256" name="first-name" data-name="first name"
                                        placeholder="enter your first name" id="first-name-2" />
                                </div>
                                <div class="div-block-47">
                                    <input type="text" class="text-field-5 w-input" maxlength="256" name="last-name" data-name="last name"
                                        placeholder="enter your last name" id="last-name-2" />
                                </div>
                            </div>
                            <input type="email" class="text-field-5-copy w-input" maxlength="256" name="email" data-name="email"
                                placeholder="enter your email (required)" id="email-4" required="" />
                            <input type="submit" value="Sign Up" data-wait="Please wait..." class="mform-submit w-button"
                            />
                        </form>
                        <div class="w-form-done">
                            <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="w-form-fail">
                            <div>Oops! Something went wrong while submitting the form.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ end }}