{{ define "main" }}

{{ $colors := $.Site.Data.style.site_colors }}
{{ $primary := replace $colors.primary "rgb" "rgba" }}
{{ $secondary := replace $colors.secondary "rgb" "rgba" }}
{{ $background := replace $colors.background "rgb" "rgba" }}

{{ $p1 := replace $primary ")" ", 0.6)" }} 
{{ $p2 := replace $primary ")" ", 0.75)" }}

{{ $transparent := replace $primary ")" ", 0)" }}

{{ $s1 := replace $secondary ")" ", 0.75)" }}
{{ $s2 := replace $secondary ")" ", 0.6)" }}

<div class="hero_section" 
    style="
        background-image: -webkit-linear-gradient(121deg, {{ $transparent | safeCSS }}, {{ $p1 | safeCSS }}), -webkit-linear-gradient(180deg, {{ $s1 | safeCSS }}, {{ $s1 | safeCSS }}), url({{ $.Site.Params.cloudinary_url }}w_2000,q_60,f_auto{{ $.Site.Data.style.textures.banner_texture }});
        background-image: linear-gradient(329deg, {{ $transparent | safeCSS }}, {{ $p1 | safeCSS }}), linear-gradient(180deg, {{ $s1 | safeCSS }}, {{ $s1 | safeCSS }}), url({{ $.Site.Params.cloudinary_url }}w_2000,q_60,f_auto{{ $.Site.Data.style.textures.banner_texture }});
    "
>
    <div data-ix="particle-cycle" class="particle4"></div>
    <div data-ix="particle-cycle-2" class="particle6"></div>
    <div data-ix="particle-cycle-2" class="particle5"></div>
    <div data-ix="particle-cycle" class="particle3"></div>
    <div data-ix="particle-cycle-4" class="particle2"></div>
    <div data-ix="particle-cycle-3" class="particle1"></div>
    <div class="row-3 w-row">
        <div class="column-10 w-col w-col-5">
            <img src="https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/596a632a81afc15158042989_59674f654afeb23d73aa73cd_tablet-02.png"
                data-ix="tablet-hover" width="127" alt="tablet" class="tablet" />
            <img src="https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/596a623a985b65490eb6afdb_59674f657de95e548cb69857_phone-02.png"
                data-ix="phone-hover" width="88" alt="mobile phone" class="phone" />
            <img src="https://uploads-ssl.webflow.com/595fbfae5b9a9013ee8e97a3/59674d8f4afeb23d73aa737e_computer.png" data-ix="computer-hover"
                width="372" alt="computer" class="computer" />
        </div>
        {{ $hero := .Params.hero_banner }}
        <div data-ix="photo-entrance-2" class="column-9 w-col w-col-7">
            <h1 class="hero_heading">{{ $hero.heading }}</h1>
            <p class="paragraph">{{ $hero.text }}</p>
            {{ if eq $hero.button.show_button true }}
            <a href="
            {{- if $hero.button.external_link -}}
                {{- $hero.button.external_link -}}
            {{- else -}}
                {{- $link := replace $hero.button.internal_link ".md" "" -}}
                /{{- $link -}}
            {{- end -}}
            " class="button w-button">{{ .Params.hero_banner.button.button_text }}</a>
            {{ end }}
        </div>
    </div>
</div>
{{ range .Params.content_sections }}
{{ if eq .show true }}
<div class="dark_section 
    {{ if eq .style "light" -}}light{{- end -}}
    {{ if eq .style "black" -}}black{{- end -}}
    {{ if eq .style "alternate" -}}alternate{{- end -}}"
    {{ if eq .style "alternate" -}}
        style="
        background-image: -webkit-linear-gradient(121deg, {{ $transparent | safeCSS }}, {{ $p1 | safeCSS }}), -webkit-linear-gradient(180deg, {{ $s1 | safeCSS }}, {{ $s1 | safeCSS }});
        background-image: linear-gradient(329deg, {{ $transparent | safeCSS }}, {{ $p1 | safeCSS }}), linear-gradient(180deg, {{ $s1 | safeCSS }}, {{ $s1 | safeCSS }});
    "
    {{- end -}}
>
    <div class="bg-photo" style="background-image: url({{ $.Site.Params.cloudinary_url }}w_2000,q_60,f_auto{{ .background_image }})"></div>
    <div data-ix="new-interaction-4" class="container-3 w-container">
        <h2 class="about_heading">{{ .heading }}</h2>
        <p class="paragraph">{{ .text }}</p>
        {{ if eq .button_settings.show true }}
        <a 
            {{ if .button_settings.external_link -}}
            href="{{ .button_settings.external_link }}"
            {{- else -}}
            {{- $link := replace .button_settings.internal_link ".md" "" -}}
            href="/{{ $link }}"
            {{- end }}
            class="button w-button">{{ .button_settings.button_text }}</a>
        {{ end }}
    </div>
</div>
{{ end }}
{{ end }}
<div class="section" 
    style="
        background: -webkit-linear-gradient(349deg, {{ $transparent | safeCSS }}, {{ $s2 | safeCSS }}), -webkit-linear-gradient(180deg, {{ $p2 | safeCSS }}, {{ $p2 | safeCSS }}), url({{ $.Site.Params.cloudinary_url }}w_2000,q_60,f_auto{{ $.Site.Data.style.textures.banner_texture }});
        background: linear-gradient(349deg, {{ $transparent | safeCSS }}, {{ $s2 | safeCSS }}), linear-gradient(180deg, {{ $p2 | safeCSS }}, {{ $p2 | safeCSS }}), url({{ $.Site.Params.cloudinary_url }}w_2000,q_60,f_auto{{ $.Site.Data.style.textures.banner_texture }});"
>
    <div data-animation="slide" data-nav-spacing="5" data-duration="500" data-infinite="1" class="testimonial_slider w-slider">
        <h2 data-ix="new-interaction-3" class="heading2 testimonial_heading">Testimonials</h2>
        <div data-ix="new-interaction-3" class="mask w-slider-mask">
            {{ range .Params.testimony_slider }}
            <div class="testimonial_slide slide2 w-slide">
                <div class="testimonial_text">{{ .testimony_text }}</div>
                <div class="testimonial_name">{{ .name }}</div>
                <div class="testimonial_title">{{ .title }}</div>
            </div>
            {{ end }}
        </div>
        <div data-ix="new-interaction-3" class="left-arrow w-slider-arrow-left">
            <div class="icon-2 w-icon-slider-left"></div>
        </div>
        <div data-ix="new-interaction-3" class="right-arrow w-slider-arrow-right">
            <div class="icon w-icon-slider-right"></div>
        </div>
    </div>
</div>

{{ end }}