{{ $fb := .facebook }}
{{ $c := .company }}
{{ $p := .phone }}
{{ $em := .e_mail }}
{{ $i := .index }}
<div class="content_row w-row {{ if eq .appearance.style " dark " }}dark{{ end }}">
    <div {{ if .content.widgets }}class="column-22 w-col w-col-7 col-section"{{ else }}class="w-col"{{ end }}>
        <h2 class="formHeading">{{ .content.heading }}</h2>
        <form name="contact" method="POST" netlify>
            <div class="formGroup">
                <label for="name{{ .index }}">Name:</label>
                <input type="text" class="textInput w-input" maxlength="256" name="name" id="name{{ .index }}" placeholder="Enter your name" required autocomplete="name">
                <label for="phone{{ .index }}">Phone Number</label>
                <input type="text" class="textInput w-input" maxlength="256" name="phone" id="phone{{ .index }}" placeholder="(xxx)xxx-xxxx" autocomplete="tel">
                <label for="email{{ .index }}">Email Address:</label>
                <input type="email" class="textInput w-input" maxlength="256" name="email" id="email{{ .index }}" placeholder="Enter your email address" required autocomplete="email">        
            </div>
            <div class="formGroup">
                <h5>What Service are you Interested In?</h5>
                <input class="c_box" type="checkbox" name="social-media-management" id="social-media-management{{ .index }}">
                <label class="c_box_label" for="social-media-management{{ .index }}">Social Media Management</label>
                <input class="c_box" type="checkbox" name="social-media-consulting" id="social-media-consulting{{ .index }}">      
                <label class="c_box_label" for="social-media-consulting{{ .index }}">Social Media Consulting</label>
                <input class="c_box" type="checkbox" name="webdesign" id="webdesign{{ .index }}">
                <label class="c_box_label" for="webdesign{{ .index }}">Web Design </label>
            </div>
            <div class="formGroup">
                <label for="comment{{ .index }}">How Can We Help You?</label>
                <textarea name="comment" id="commnet{{ .index }}" maxlength="5000" data-name="Comment" 
                placeholder="Give us some details about what you would like to accomplish with your business." class="textInput w-input"></textarea>
            </div>

                <div style="margin: 20px 0px;" data-netlify-recaptcha></div>
            <input type="submit" value="Submit" class="submit-button w-button">
        </form>
    </div>
    {{ if .content.widgets }}
    <div class="column-15 w-col w-col-5 col-section">
        {{ range $i, $e := .content.widgets }}
            {{ if ne $i 0 }}
                <div class="separator">__________________________</div>
            {{ end }}
            {{ if eq .template "facebook-widget" }}
                {{ if .heading }}<h3>{{ .heading }}</h3>{{ end }}
                <div class="fb-page" data-href="{{ $fb }}" 
                    data-tabs='
                    {{- if eq .tabs "none" -}}
                        none
                    {{- else -}}
                        {{- if eq .tabs "show all" -}}
                            timeline, events, messages
                        {{- else -}}
                            {{- .tabs -}}
                        {{- end -}}
                    {{- end -}}'
                    data-height="400" 
                    {{ if .small_header }}data-small-header="{{ .small_header }}"{{ end }}
                    data-adapt-container-width="true" 
                    data-hide-cover="{{ .hide_cover }}" 
                    data-show-facepile="{{ .show_friends }}"
                >
                    <blockquote cite="{{ $fb }}" class="fb-xfbml-parse-ignore">
                        <a href="{{ $fb }}">{{ $c }}</a>
                    </blockquote>
                </div>
            {{ end }}
            {{ if eq .template "contact-info" }}
                {{ if .heading }}<h3>{{ .heading }}</h3>{{ end }}
                {{ if eq .show_phone true }}<div><a href="tel:{{ $p }}">{{ replace $p "-" " " }}</a></div>{{ end }}
                {{ if eq .show_email true }}<div><a href="mailto:{{ $em }}">{{ $em }}</a></div>{{ end }}
            {{ end }}
        {{ end }}
    </div>
    {{ end }}
</div>