{{ define "main" }}

<div class="about_page_section-copy blog">
    <div class="container-div">
        <h2 class="heading-7-copy2">Most Recent</h2>
        <div class="w-dyn-list">
            <div class="w-dyn-items">
                {{ range first 1 .Data.Pages }}
                {{ $ytStart := replace .Params.video_link "https://youtu.be/" "" }}
                {{ $ytId := replace $ytStart "https://www.youtube.com/watch?v=" "" }}
                <div class="collection-item w-dyn-item">
                    <div class="standard-row w-row">
                        <div class="column-left w-col w-col-8">
                            <div class="featured-video w-embed w-iframe">
                                <iframe width="100%" height="100%" style="position: absolute;" src="https://www.youtube.com/embed/{{ $ytId }}?rel=0&showinfo=0"
                                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="column-right w-col w-col-4">
                            <a href="{{ .RelPermalink }}" class="link-block-11 w-inline-block">
                                <h3 class="heading-11">{{ .Title }}</h3>
                            </a>
                            <div class="text-block-29">{{ .Date.Format "January, 02 2006"}}</div>
                            <div class="text-block-29 w-condition-invisible w-dyn-bind-empty"></div>
                            <div class="rich-text-block w-richtext">
                                <p>{{ .Params.Description }}</p>
                            </div>
                            <a href="{{ .RelPermalink }}" class="button-smaller w-button">Details</a>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
        {{ if gt (len .Data.Pages) 1 }}
        <h2 class="heading-7">Other Videos</h2>
        <div class="w-dyn-list">
            <div class="collection-grid w-dyn-items">
                {{ range after 1 .Data.Pages }}
                {{ $ytStart := replace .Params.video_link "https://youtu.be/" "" }}
                {{ $ytId := replace $ytStart "https://www.youtube.com/watch?v=" "" }}
                <div class="video-item w-dyn-item">
                    <a class="video-item-inner" href="{{ .RelPermalink }}">
                        <article style="width:100%">
                            <figure class="video-thumb" style="
                                {{- if .Params.featured_image -}}
                                    background-image: URL({{ .Params.featured_image }});
                                {{- else -}}
                                    background-image: URL(https://img.youtube.com/vi/{{ $ytId }}/mqdefault.jpg);
                                {{- end -}}
                                background-size: cover; background-position: center center; background-repeat: no-repeat">
                            </figure>
                            <section class="video-item-content">
                                <h3 class="video-item-title">{{ .Title }}</h3>
                                <p class="item-meta">{{ .Date.Format "Jan 02, 2006"}}</p>
                            </section>
                        </article>
                    </a>
                </div>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}